.wrapperAbout{
    width: 1200px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aboutEmpty{
    height: 500px;
    margin: 0 auto;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    animation: clip 7s linear forwards;
}
@keyframes clip {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
.wrapperAboutFirst{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapperAboutSecond{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_img{
    width: 200px;
    height: 200px;
}

.about_info{
    position: absolute;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_info h1{
    font-size: 36px;
}

.about_btn{
    left: 1030px;
    width: 170px;
    text-align: center;
    position: absolute;
    font-size: 36px;
    padding: 8px;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    transition: 1s;
    animation: clip 4s linear forwards;
}

.about_btn:hover{
    color: black;
    background-color: orange;
}
@media (max-width: 750px){
    .wrapperAbout{
        width: 300px;
        height: 300px;
    }
    .wrapperAboutFirst{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 10%;
        right: 0;
    }
    .wrapperAboutSecond{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 10%;
        right: 0;
    }
    .about_img{
        width: 100px;
        height: 100px;
    }

    .about_info{
        position: absolute;
        top: 40px;
        left: -30px;
        color: white;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_info h1{
        font-size: 36px;
    }
    .about_btn{
        left: 270px;
        width: 60px;
        text-align: center;
        position: absolute;
        font-size: 22px;
        padding: 8px;
        color: white;
        border: 1px solid orange;
        border-radius: 20px;
        transition: 1s;
        animation: clip 4s linear forwards;
    }
    .aboutEmpty{
        height: 200px;
        width: 300px;
        font-size: 32px;
    }
}