/*Pagination block*/
.pagination{
    display: flex;
    font-size: 24px;
    margin: 0 auto;
}
.pageActive{
    color: orange;
    margin-left: 10px;
}
.page{
    cursor: pointer;
    margin-left: 10px;
    color: white;
}
.page:hover{
    color: darkgrey;
}