.headerContainer{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid orange;
    display: flex;
}
.Header{
    color: white;
    width: 100%;
}
.navMenu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navMenu img{
    width: 70px;
    height: 90%;
    margin-left: 10px;
}
.headerToOficialSite{
    margin-left: 20px;
    flex-grow: 1;
}
.headerToOficialSite a{
    color: white;
    font-size: 18px;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 20px;
}
.headerToOficialSite a:hover{
    color: orange;
}
.loginWrraper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.loginWelcome{
    font-size: 24px;
    color: orange;
}
.login{
    background-color: black;
    color: white;
    font-size: 18px;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 20px;
}
.login:hover{
    color: orange;
}

.up{
    position: fixed;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    color: white;
    cursor: pointer;
    z-index: 20;
    font-size: 36px;
}
.up img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media (max-width: 750px){
    .navMenu{
        display: none;
    }

}

