.planetsMoreInfoTitle{
    color: white;
    font-size: 48px;
}
.planetsMoreInfoWrapper{
    color: white;
    display: flex;
}
.planetsMoreInfoIMG img{
    height: 400px;
    animation: rotate 60s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }

}
.planetsMoreInfoText{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}
.planetsMoreInfoText p{
    font-size: 24px;
    margin-bottom: 2px;

}
.planetsMoreInfoTextBtns{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


