.moreInfoMain {
    height: 500px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.MoreInfoTitle{
    color: white;
    font-size: 48px;
}
.MoreInfoWrapper{
    color: white;
    display: flex;
}
.MoreInfoIMG img{
    height: 400px;
}

.MoreInfoText{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}
.MoreInfoText p{
    font-size: 24px;
    margin-bottom: 2px;

}
.MoreInfoTextBtns{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


