.loader{
    width: 100%;
    height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img{
    width: 90px;
    height: 90px;
    opacity: 0.7;
}

.relatedMainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 750px;
    width: 50%;
    margin: 20px auto 20px;
}
.relatedTitleblock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.relatedTitle{
    font-size: 48px;
    color: white;
    margin: 0;
    padding: 0;
}
.relatedReturnBtn{
    background-color: black;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    border: 1px solid orange;
}
.relatedReturnBtn:hover{
    background-color: orange;
    color: black;
    border: 1px solid white;
}
.relatedInfoWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;

}
.relatedInfoIMG{
    width: 40%;
    height: 400px;
}
.relatedInfoText{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.titleCard{
    color: white;
    font-size: 24px;
    margin-top: 20px;
}
.relatedCardWrapper{
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
}

@media (max-width: 750px){
    .loader{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .relatedMainWrapper{
        min-height: 400px;
        width: 100%;
        margin-left: 5px;
    }
    .relatedInfoWrapper{
        flex-direction: column;

    }
    .relatedInfoIMG{
        width: 100%;
        height: 100%;
    }
    .relatedReturnBtn{
        display: none;
    }


}



