.commentsMainWrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.commentsAddWrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.commentsAddTitle{
    font-size: 24px;
    color: white;
}
.commentsAddInput{
    padding: 10px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.commentsAddBtn{
    align-self: flex-end;
    width: 100px;
    padding: 8px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    transition: 1s;
    margin-top: 20px;
}
.commentsAddBtn:hover{
    color: black;
    background-color: white;

}
.commentsAddedMainWrapper{
    height: 100%;
    width: 100%;
    margin: 0 auto 20px;
}
.commentsAddedWrapper{
    word-wrap: break-word;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 20px;

}
.commentsAddedUser{
    margin: 0 20px 0 0;
    padding: 0;
    color: orange;
}
.commentsAddedText{
    margin: 0;
    padding: 0;
}