.Crumbs{
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid orange;

}

.Link{
    color: white;
    font-size: 16px;
    margin-left: 5px;
}
.Link:hover{
    color: orange;
}
@media (max-width: 750px){
    .Crumbs{
        height: 50px;
    }
    .Link{
        font-size: 18px;
    }
}